@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url(variables.css);
@import url(side-menu.css);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
body{
  overflow-x: hidden;
}
/* ---------------common classes-------------- */
.bg-white{
  background: var(--bg-white) !important;
}
.bg-pink{
  background: var(--bg-pink) !important;
}
.border{
  border-width: var(--border) !important;
}
.border-pink{
  border-color: var(--border-pink) !important;
}
.border-greylight{
  border-color: var(--border-greylight) !important;
}
.rounded{
  border-radius: var(--rounded) !important;
}
.rounded-circle{
  border-radius: var(--rounded-circle) !important;
}
.icon-orange{
  color: var(--icon-orange);
}
.small, small{
  font-size: var(--small);
}
.text-grey{
  color: var(--text-grey);
}
.text-greylight{
  color: var(--text-greylight);
}
a {
  text-decoration: none;
}
p {
  text-align: justify;
}
.heading {
  font-size: 25px;
}
/* ----------------------graph credit----------- */
a.canvasjs-chart-credit {
  display: none;
}
/* ---------------graph box---------------- */
.graph-box > div{
  border-width: var(--border) !important;
  border-color:var(--border-pink) !important;
  border-style: solid;
  cursor: pointer;
}
.graph-box:hover > div{
  background: var(--bg-white) !important;
  box-shadow: 0px 10px 10px #ddd;
  border-color:var(--border-pink) !important;
  border-width: var(--border) !important;
  border-style: solid;
}
/* ---------------graph box---------------- */
.pro-graph-box > div{
  border-width: var(--border) !important;
  border-color:var(--border-greylight) !important;
  border-style: solid;
  cursor: pointer;
}
.pro-graph-box:hover > div{
  box-shadow: 0px 10px 10px #ddd;
  border-color:var(--border-greylight) !important;
  border-width: var(--border) !important;
  border-style: solid;
}

/* --------------img outer------------------- */
/* .img-outer{
  width: 100%;
  height: 50px;
} */

/* .img-outer img {
  width:100%;
  height:100%;
  object-fit:contain;
} */
/*----------------scrollbar------------------ */


/*-----------------Search---------------------*/
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.search-input {
  width: 100%;
  border: 1px solid var(--greylight);
  background: var(--greylight);
  border-right: none;
  padding: 5px 20px;
  height: 40px;
  border-radius: 50px 0 0 50px;
  outline: none;
  color: var(--grey);
}

.search-input:focus{
  color: var(--orange);
}

.search-button {
  width: 40px;
  height: 40px;
  border: 1px solid var(--greylight);
  background: var(--greylight);
  text-align: center;
  color: var(--grey);
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  font-size: 20px;
  padding-right: 10px;
}

/* --------------top right warapper------------*/
.tr-nav-wrapper {
  text-align: right;
}
/* language start */
  .sl-nav {
  display: inline;
}
.sl-nav ul {
  margin:0;
  padding:0;
  list-style: none;
  position: relative;
}
.sl-nav li {
  cursor: pointer;
}
/* -------------------dropdown---------------- */
 .dropdown-menu{
  padding: 0px;
  border: 1px solid var(--border-pink) !important;
}
.dropdown-item:focus, .dropdown-item:hover{
  background: var(--bg-pink) !important;
}
.dropdown-item.active, .dropdown-item:active{
  background: var(--orange) !important;
}
/*.dropdown-menu:before {
  position: absolute;
  top: -15px;
  content: '';
  display: block;
  width: 15px;
  transform: rotate(45deg) translateY(0px) translatex(10px);
  height: 15px;
  background: var(--white);
  border-radius: 2px 0px 0px 0px;
  border-top: 1px solid var(--orange);
  border-left: 1px solid var(--orange);
  z-index: -1;
} */
.sl-flag {
  display: inline-block;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
  width: 15px;
  height: 15px;
  background: #aaa;
  border-radius: 50%;
  position: relative;
  top: 2px;
  overflow: hidden;
}
.flag-de {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAAAPUlEQVQ4T+3HMQ0AIBTE0NOHM8x9B7hgh71bIWGieUvze1m7kHGBr/AVvsJX+EpmP5dV5/gKX+ErfIUvVDYcX2NMxQC8PAAAAABJRU5ErkJggg==');
  background-size: cover;
  background-position: center center;
}
.flag-usa {
  background-size: cover;
  background-position: center center;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAABhUlEQVQ4T2Ows82PjGixsc4LD2tysC/09Kjw8622tyuICG8u0w/cpGSCBzF4e1VmZkzw9anOzOj38a4KCW4IC22ECHYk1l9tn4gHMeTlTnZxLikvm+XiUpKW2hvgX+vnV5OVOQEoOGfOtv94AYOzU3Fd7XxHh6Lq6rlurqUx0W0J8Z1AnbW18yotonaYuOJBDBXls4A+bGpaBCTz86YEBtQCvVBSPAPIbY0oP1/aiAcxABU1Ny+2tclvbFjo5FgUF9uenNwNDLnmpkWEnV1TPRcY1O1tS4H6i4umA/0MDK2K8tlAwRqHpP1uoXgQKKraWpcClTY3LQZaCLQ5NaUX5OaWJY3++SeTC/AgBmA4AXUClUJs9ver8fKsAAYEUJCws4G21dXNB1oFdD/Qz8DQTk4C+bm2dn6DZ9bRiDQ8iAEYt8CoBpK5YBIYw0AEEZwSXX4oMB4PYoC6gCzAcDqrjGzEsMfen2xEmbMv1rSTjRi26dqRjShz9o2+6WQjBrSShQSkZAIADvW/HLrLY6cAAAAASUVORK5CYII=');
}


/* --------------------NOtification ------------------- */
.notification.icon {
  width: 70px;
  font-size: 1.2em;
  color: var(--orange);
  position: relative;
}
.notification.icon .notification-number {
  position: absolute;
  right: -10px;
  top: -6px;
  z-index: 1;
  background: var(--red);
  border: 3px solid #FFF;
  border-radius: 15px;
  padding-top: 5px;
  font-family: sans-serif;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: #FFF;
  padding: 0px 6px;
  /* -webkit-animation: bounce 1s infinite; */
}

@-webkit-keyframes bounce {
  0%, 100%, 20%, 53%, 80% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    -ms-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    -ms-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    -ms-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
}

/*----------------page-wrapper----------------*/

.page-wrapper {
  height: 100vh;
}

.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}

.page-wrapper .theme.chiller-theme {
  background: var(--black);
}
 
/* ----------wallet-card------------- */

.wallet{
  border: 1px solid #ececec; 
  z-index: 1;
}
.content-wallet{
  z-index: 3;
}
.wallet-card{
  width: 100%;
  height: 200px;
  background-color: #3b2231;
  top: 0;
  z-index: 2;
  left: 0;
  box-shadow: 0px 7px 20px #ffc1b0;
}
.card-user,.wallet-balance,.wallet-amount,.amount-status,.amount-details{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.card-user a{
  text-decoration: none;
  color: #000;
}
.angle-icon{
  text-align: right;
}
.user{
  border-radius: 15px;
  margin: 0 auto;
}
.amount-btn{
  background-color: #ff5528;
  margin: 0 auto;
}
/*---- profile card----- */

/*---------dashboard end---------*/

/*---------component---------*/

.card-sucess:hover{
  background-color: #daffee;
  border: 1px solid #fff;
}
.card-primary:hover{
  background-color: #d7e7ff;
  border: 1px solid #fff;
}

.card-warning:hover{
  background-color: #fff3d1;
  border: 1px solid #fff;
}
/*---------Component End---------*/

/*---------- forms-------------- */

/* Form Element Style Section */
.form-element-wrapper {
  border: #ff5528 solid 1px;
  font-weight: 500;
}
.form-element-wrapper:hover{
  box-shadow: 3px 7px 24px rgb(0, 0, 0, 0.2);
}
.form-element-wrapper.form-edit{
  border-top: #ff5528 solid 5px;
  border-bottom: none;
  border-left: none;
  border-right: none;  
}
.form-select, .input-group-text {
  border: #ff8261 solid 1px;
}
hr {
  color: var(--orange-light);
}
.form-control:focus,.form-select:focus,.form-check-input:focus { 
  border-color: #fc9d84;
  box-shadow: 0 0 0 0.25rem rgb(255 85 40 / 33%);
}
.form-check-input:checked {
  background-color: #ff5528;
  border-color: #ff5528;
}

/* Form Section End*/

/* table */
.table1, .table2, .table3, .table4, .table5{
  border: #ff5528 solid 1px;
}
.table1:hover, .table2:hover, .table3:hover, .table4:hover, .table5:hover{
  box-shadow: 3px 7px 24px rgb(0, 0, 0, 0.2);
}

/* table end */

/* authentication */

.box{
  border: 1px solid #ff8261;
}
.form-wrapper {
  width: 400px;
  margin: auto;
}
.form-control {
  background-color: #fff;
  border: rgb(255, 130, 97) solid 1px;
}
/* signup & login */
.social-media{
  display: flex;
  justify-content:space-evenly;
  text-align: center;
}
.social-media img{
  border: 1px solid #ff5528;
    border-radius: 50%;
    margin-bottom: 5px;
}
.bottom-text {
  padding: 0;
  margin: 0;
  align-items: center;
  color: #ff8261;
}
 /* Forgot password*/
.unlock-icon{
  color: var(--orange);
}
/* authentication end */

/* ---------User profile ---------*/
.profile-sec{
  background-color: var(--bg-pink);
}
.profile-sec:hover{
  box-shadow: 3px 7px 24px rgb(0, 0, 0, 0.2);
}
.profile-img{
  width: 120px;
  height: 120px;
  margin-bottom: 12px;
  border-radius: 5rem;
  box-shadow: 1px 3px 14px rgb(0, 0, 0, 0.2);
}
tbody tr {
  text-align: left!important;
  line-height: 40px;
  vertical-align: baseline;
}
.social-media-icon li {
    display: inline;
    margin: 0 4px;
    padding: 0;
}
.icon-media{
  padding: 12px 13px;
  background-color: #fff;
  border: 1px solid #ff5528;
  border-radius: 26px;
  color: #ff5528;
}
.icon-media:hover{
  background-color: #ff5528;
  color: #fff;
  border-radius: 26px;
}
.icon{
  margin-right: 12px;
  color: #ff5528;
}
.progress{
  height: 6px;
  background-color: #fdd5c7;
}
.progress-bar{
  background-color: #ff5528;
}
.edit-btn{
  background-color: #ff5528;
  border: 1px solid #ff5528;
  color: #fff;
  padding: 5px 20px;
  font-weight: 600;
}
.edit-btn:hover{
  background-color: #fff;
  color: #ff5528;
  border: 1px solid #ff5528;
  font-weight: 600;
}
.edit-btn:active:focus{
  background-color: #fff;
  color: #ff5528;
  border: 1px solid #ff5528;
  box-shadow: none;
}
.edit-btn:focus{
  background-color: #fff;
  color: #ff5528;
  border: 1px solid #ff5528;
  box-shadow: none;
}
/*----- user profile end------- */

/* ------userinfo------- */
.about-icon-media{
  padding: 10px 11px;
  background-color: #fff;
  border: 1px solid #ff5528;
  border-radius: 26px;
  color: #ff5528;
  margin-right: 10px;
}
.about:hover, .general-info:hover, .social-icons-wrapper:hover{
  box-shadow: #00000026 0px 5px 15px 0px;
}
.profile-image {
  height: 160px;
}
/* ------userinfo end------- */

/*------ error --------*/
.error-img{
  width: 35%;
}
.error-text a{
  color: #ff5528;
}
/*------ error end-------- */

 /* ------FAQ-------- */

 .main-accordion{
  border:1px solid var(--orange);
}
.collapse-button:focus{
  border-color: transparent;
  box-shadow: none;
  background: transparent;
}
.accordion-flush .accordion-item .accordion-button{
  background:none;
  border: none;
}
.accordion-button:not(.collapsed) {
  color: #ff5528;
  background-color: #e7f1ff;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ff5528'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
/* ---------FAQ end------- */







